@import "tailwindcss";

@theme {
  --color-ink: #1c2129;
  --color-charcoal: #2e3542;
  --color-paper: #efe7d2;
  --color-brass: #b98a3d;
  --color-wine: #7a2e3d;
  --color-chalk: #f7f3e8;

  --font-display: "Poppins", sans-serif;
  --font-sans: "Poppins", sans-serif;
  --font-mono: "Poppins", sans-serif;
}

body {
  background: #efe7d2;
}